.productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 125px;
    padding-right: 125px;
    margin-top: 50px;
    gap: 50px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_imagen{
    overflow: hidden;
    width: 100%;
}

.productos img{
    height: 60vh;
    width: 100%;
    transition: transform 0.4s ease;
}

.productos img:hover{
    transform: scale(1.1);
}

.productos p{
    margin-top: 10px;
    font-weight: bold;
}

.precio{
    display: flex;
    gap: 10px;
}

.precio_original{
    font-weight: bold;
}

.precio_anterior{
    text-decoration: line-through;
    color: #999;
}

.precio_nuevo{
    font-weight: bold;
    color: #e63946;
}