{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'web/styles/base.css' %}">
</head>
<body>
    <header>
        <div>Efectivo | Mercado Pago | Transferencia Bancaria</div>

        <h1>Tienda Online</h1>

        <nav></nav>
    </header>

    <main>
        {% block main %} {% endblock %}
    </main>

    <footer>

    </footer>
</body>
</html>