{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'web/styles/base1.css' %}">
    <link rel="icon" href="{% static 'web/img/logo.webp' %}" type="image/webp">
    {% block extra_links %} {% endblock %}
    {% block extra_css %} {% endblock %}
</head>
<body>
    <header>
        <div>Efectivo | Mercado Pago | Transferencia Bancaria</div>

        <img src="{% static 'web/img/logo.webp' %}" alt="Imagen del logo de la tienda">

        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block main %} {% endblock %}
    </main>

    <footer>
        <H4>REDES SOCIALES</H4>
        <a href="{% url 'index' %}">(emoji instagram)</a>
        <h4>CONTACTO</h4>
        (emoji sobre) <a href="{% url 'index' %}">guidoangeldiz@gmail.com</a>
        (emoji telefono) <a href="{% url 'index' %}">1126436710</a>
        (emoji ubicacion) Belgrano R, Capital Federal
    </footer>
</body>
</html>