{% extends 'web/base.html' %}
{% load static %}

{% block title %} Resumen de compra {% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'web/styles/compra.css' %}">
{% endblock %}

{% block main %}
<div class="contenedor_compra">
    <form method="POST" action="{% url 'compra' %}">
        {% csrf_token %}

        <h1>Resumen de compra</h1>

        <div>
            <label for="producto">Producto:</label>
            <input type="text" name="producto" value="{{ form.producto.value }}" readonly>
        </div>

        <div>
            <label for="talle">Talle:</label>
            <input type="text" name="talle" value="{{ form.talle.value }}" readonly>
        </div>

        <div>
            <label for="cantidad">Cantidad:</label>
            <input type="text" name="cantidad" value="{{ form.cantidad.value }}" readonly>
        </div>

        <div>
            <label for="precio">Precio:</label>
            <input type="text" name="precio" value="{{ form.precio.value }}" readonly>
        </div>

        <input type="submit" value="COMPRAR">
    </form>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
