{% extends 'web/base.html' %}
{% load static %}

{% block title %} Resumen de compra {% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'web/styles/compra.css' %}">
{% endblock %}

{% block main %}
<div class="contenedor_compra">
    <form method="POST" action="{% url 'compra' %}">
        {% csrf_token %}

        <h1>Resumen de compra</h1>

        <div>
            <label for="producto">Producto:</label>
            <input type="text" name="producto" value="{{ form.producto.value }}" readonly>
        </div>

        <div>
            <label for="talle">Talle:</label>
            <input type="text" name="talle" value="{{ form.talle.value }}" readonly>
        </div>

        <div>
            <label for="cantidad">Cantidad:</label>
            <input type="text" name="cantidad" value="{{ form.cantidad.value }}" readonly>
        </div>

        <div>
            <label for="precio">Precio:</label>
            <input type="text" name="precio" value="{{ form.precio.value }}" readonly>
        </div>

        <div>
            <label for="medio_de_pago">Medio de pago</label>
            <select name="medio_de_pago" id="medio_de_pago" required>
                <option value="">Seleccionar...</option>
                <option value="Efectivo">Efectivo</option>
                <option value="MP">Mercado Pago</option>
                <option value="Transferencia">Transferencia Bancaria</option>
            </select>
        </div>

        <div id="pago_efectivo" hidden>
            <p>En caso de pagar en efectivo, nos estaremos contactando via Whatsapp para coordinar el envio o retiro</p>
        </div>

        <div id="datos_transferencia" hidden>
            <ul>
                <li>Número de cuenta: </li>
                <li>CUIT: </li>
                <li>Razón Social: </li>
                <li>CBU: </li>
                <li>Alias: </li>
                <li>Banco </li>
            </ul>
        </div>

        <input type="submit" value="CONFIRMAR COMPRA">
    </form>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block extra_js %}
<script src="{% static 'web/js/compra.js' %}"></script>
{% endblock %}

{% endblock %}
