{% extends 'web/base.html' %}
{% load static %}

{% block title %} Productos {% endblock %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'web/styles/productos1.css' %}"> {% endblock %}

{% block main %}
<section>
    <div class="producto">
        <span class="precio_anterior">$10.000</span>
        <span class="precio_nuevo">$8.500</span>
    </div>
    <div class="producto">
        <span class="precio_anterior">$10.000</span>
        <span class="precio_nuevo">$8.500</span>
    </div>
    <div class="producto">
        <span class="precio_anterior">$10.000</span>
        <span class="precio_nuevo">$8.500</span>
    </div>
    <div class="producto">
        <span class="precio_anterior">$10.000</span>
        <span class="precio_nuevo">$8.500</span>
    </div>
    <div class="producto">
        <span class="precio_anterior">$10.000</span>
        <span class="precio_nuevo">$8.500</span>
    </div>
    <div class="producto">
        <span class="precio_anterior">$10.000</span>
        <span class="precio_nuevo">$8.500</span>
    </div>
</section>
{% endblock %}