{% extends 'web/base.html' %}
{% load static %}

{% block title %} {{producto.nombre}} {% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'web/styles/vista_productos.css' %}?v={{ timestamp|date:'U' }}">
{% endblock %}

{% block main %} 
<div class="contenedor">
    <div class="fotos_laterales">
        {% if producto.imagen %}
        <img src="{{producto.imagen.url}}" alt="" id="img1">
        {% endif %}
        
        {% if producto.imagen2 %}
        <img src="{{producto.imagen2.url}}" alt="" id="img2">
        {% endif %}

        {% if producto.imagen3 %}
        <img src="{{producto.imagen3.url}}" alt="" id="img3">
        {% endif %}
        
        {% if producto.imagen4 %}
        <img src="{{producto.imagen4.url}}" alt="" id="img4">
        {% endif %}
    </div>

    <div class="foto_principal">
        <img src="{{producto.imagen.url}}" alt="" id="imgp">
    </div>

    <div class="info">
        <h1>{{producto.nombre}}</h1>
        <div class="precios">
            <span class="precio_original">{{producto.precio_original}}</span>
            <span class="precio_anterior">{{producto.precio_anterior}}</span>
            <span class="precio_nuevo">{{producto.precio_nuevo}}</span>
        </div>

        <div class="descripcion">
            <p>{{producto.descripcion}}</p>
        </div>

        <form method="GET" action="{% url 'compra' %}" class="talle_color_cantidad">
            
            <label for="talle">Talle:</label>
            <select id="talle" name="talle">
                {% if producto.talle1 %}
                <option value="{{producto.talle1}}">{{producto.talle1}}</option>
                {% endif %}
                
                {% if producto.talle2 %}
                <option value="{{producto.talle2}}">{{producto.talle2}}</option>
                {% endif %}
                
                {% if producto.talle3 %}
                <option value="{{producto.talle3}}">{{producto.talle3}}</option>
                {% endif %}

                {% if producto.talle4 %}
                <option value="{{producto.talle4}}">{{producto.talle4}}</option>
                {% endif %}
                
                {% if producto.talle5 %}
                <option value="{{producto.talle5}}">{{producto.talle5}}</option>
                {% endif %}
            </select>

            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" value="1">

            <input type="hidden" name="producto_id" value="{{ producto.id }}">
        
            <button type="submit">COMPRAR</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'web/js/cambiar_imagen.js' %}"></script>
{% endblock %}
